
.pyr_main {
    background-color: rgba(224,224,224,.25); 
    border-radius: 5px;
    box-shadow: 
       inset 0 -1em 1em rgba(0,0,0,0.1),
             0 0 0 2px rgb(255,255,255), 
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.col1 {
    float: left;
    height: 100%;
    /* margin-left: 75px; */
}

.col2 {
    float:left;
    height: 100%;
}

path {
    fill: none;
    stroke: grey;
    stroke-width: .5px; 
}

.geoTitle {
    font-weight: bold;
    /*fill: #999;*/
    fill: darkslategray;
}

/* .btn {
    background-color: rgb(123, 176, 218);
    border: none;
    color: black;
    padding: 3px 12px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 5px 5px 2.5px rgba(0,0,0,0.2);
} */

.right {
    margin-bottom: 25px;
}

#yrPulldown {
    margin-bottom: .75em;
}

@media (max-width: 600px) { /* only screen and (max-width: 600px) */
    .left {
        width: 100%; /* 40% laptop 32% full screen*/
        height: 480px;
        /* background-color: white; */
        background-color: rgba(224,224,224, .75);        
    }

    .middle {
        width: 40%; /* 2 middle columns so x 2 */
        float: left;
        margin-top: 50px;
    }

    .right {
        width: 100%;
        float: left;
    }

    .r-right {
        width: 100%;
        float: left;
    }
    
    /*.geoTitle {
        font-size: 15px;
        letter-spacing: -2px ;
    }*/

    #map {
        height: 335px; 
        width: 100%;
        box-shadow: 5px 5px 2.5px grey;
        /*border: 2px solid rgba(0,0,0,.15); 
        background-color:rgb(123, 176, 218); */
        background-color: rgb(135,184,206);
    }

    #pjyr, #pjyr2 {
        font-size: 11px;
    }
}

@media (min-width: 600px) { /* only screen and (min-width: 600px) */
    .left {
        width: 75%; 
        /*height: 670px;*/
        height: 692px;
        float: left;
        /* background-color: white; */
        background-color: rgba(224,224,224, .75);
    }

    .middle {
        width: 10%; 
        float: left;
       /*  margin-top: 50px; */
    }

    .right {
        width: 100%;
        float: left;
    }

    .r-right {
        width: 100%;
        float: left;
    }

    #frame1, #frame2 {
        height: 450px;
        margin: auto;
    }

    #map {
        height: 335px; 
        width: 100%;
        box-shadow: 5px 5px 2.5px grey;
        /* background-color:rgb(123, 176, 218);*/
        background-color: rgb(135,184,206);
    }

    #pjyr, #pjyr2 {
        font-size: .6em;
    }

    .hoverBirthYear {
        pointer-events: none;
        font-size: 9px;
        font-weight: bold;
    }
} 

@media (min-width: 962px) { /* 1100px */
    .left {
        width: 50%; 
        /* height: 670px; */
        height: 692px;
        box-shadow: 5px 5px 2.5px grey;
        /* background-color: white; */
        background-color: rgba(224,224,224, .75);
        float: left;
        border-radius: 5px;
        margin-left: 1em;
    }

    .middle {            
        width: 8%; 
        float: left;
        margin-top:0;
    }

    .right {
       width: 31%;
       float:left;
    }

    .r-right {
        width: 100%;
        float:left;
    }

    #frame1, #frame2 {
        height: 500px;
        margin: auto;
        width: 97%;
    }

    #slider {
        padding-left: .65em;
    }

    #slider2 {
        padding-left: 0; 
    }

    #map {
        height: 375px; 
        width: 100%;
        box-shadow: 5px 5px 2.5px grey;
        /*border: 2px solid rgba(0,0,0,.15); 
        background-color:rgb(123, 176, 218); */
        background-color: rgb(135,184,206);
    }

    #pjyr, #pjyr2 {
        font-size: 12px;
    }

    .hoverBirthYear {
        pointer-events: none;
        font-size: 11px;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .left {
        width: 50%; 
        /* height: 670px; */
        height: 692px;
        box-shadow: 5px 5px 2.5px grey;
        /* background-color: white; 
        background-color: rgba(224,224,224, .75); */
        background-color: rgb(238,248,251);
        float: left;
        border-radius: 5px;
        margin-left: 1em;
    }

    .middle {            
        width: 8%; 
        float: left;
        margin-top:0;
    }

    .right {
       width: 31%;
       float:left;
       padding-left: .25em;
    }

    .r-right {
        width: 100%;
        float:left;
    }

    #frame1, #frame2 {
        height: 500px;
        margin: auto;
        width: 97%;
    }

    #slider {
        padding-left: 1em; /*1.5em;*/
    }

    #slider2 {
        padding-left: .5em; /*1em;*/
    }

    #map {
        height: 375px; 
        width: 100%;
        box-shadow: 5px 5px 2.5px grey;
        /*border: 2px solid rgba(0,0,0,.15); 
        background-color:rgb(123, 176, 218); */
        background-color: rgb(135,184,206);
        margin-bottom: 10px;
        border-radius: 5px;
    }

    #pjyr, #pjyr2 {
        font-size: 12px;
    }

    .hoverBirthYear {
        pointer-events: none;
        font-size: 11px;
        font-weight: bold;
    }

    /*.geoTitle {
        font-size: 20px;
    }*/
} 
/*
@media only screen and (min-width: 1400px) {
    .left {
        width: 40%; 
        height: 700px;
        box-shadow: 5px 5px 2.5px grey;
        background-color: white;
        margin-right: 10px;
        float: left;
        border-radius: 5px;
    }

    .middle {            
        width: 5%; 
        float: left;
    }

    .right {
       width: 23%;
       float: left;
    }

    .r-right {
        width: 23%;
        padding-left: 1em;
        margin-top: 70px;
        float: left;
    }

    #frame1 {
        height: 278px; 
    }

    #frame2 {
        height: 250px;
    }

    #slider2 {
        margin-right: 10px;
    }

    #map {
        height: 375px; 
        width: 100%;
        box-shadow: 5px 5px 2.5px grey;
        background-color:rgb(123, 176, 218);
    }
} 

@media (min-width: 1200px) {
    .pyr_main {
        width: 1200px;
    }
    .left {
        width: 32%; //40% laptop 32% full screen
        height: 670px;
        box-shadow: 5px 5px 2.5px grey;
        margin-right: 1em;
        border-radius: 5px;
    }

    .middle {
        width: 6%; //2 middle columns so x 2 
    }

    #slider2 {
        margin-right: 0;
    }

    .right {
        width: 25%;
    }

    .r-right {
        width: 25%;
        padding-left: 2em;
        margin-top: 70px; 
    }

    #frame1 {
        height: 278px; 
    }

    #frame2 {
        height: 250px;
    }

    #map {
        height: 335px; 
        width: 100%;
        box-shadow: 5px 5px 2.5px grey;
        background-color:rgb(123, 176, 218);
    }
} */

.pyr_main:after {
    content: "";
    display: table;
    clear: both;
}

.pyr2:after {
    content: "";
    display: table;
    clear: both;
}

svg {
    /*font: 10px Arial, sans-serif; */
    font-size: 12px;
}

.axis {
    font: 8.5pt /* Arial, sans-serif*/;
}

.x.axis path {
    display: none;
}

/* .x.axis text {
    fill: darkslategray;
} */

.x.axis line {
    stroke: #fff;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}

.w.axis path {
    display: none;
}

/* .w.axis text {
    fill: darkslategray;
}*/

.w.axis line {
    stroke: #fff;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}

.y1Axis line {
    stroke: black;
    stroke-opacity: 0.25;
    stroke-dasharray: 2;
}

.line {
    /*fill: green; */
    stroke: #628cae;
    stroke-width: 1.25px;
}

.stop-left {
    stop-color: rgb(123, 176, 218);
}

.stop-right {
    stop-color: red;
}

.area {
    fill: url(#mainGradiant);
    fill-opacity: .1;
    /*filter: url(#glow); */
    stroke-width: 0;
}

.age {
    fill: #444;
    font-weight: bold;
    font-size: 12px;
    text-anchor: middle;
}

.title {
    /*font-size: 20px; 
    letter-spacing: -2px; */
    font-weight: bold;
    /*fill: #999;*/
    fill: darkslategray;
}

.subtitle {
    font-size: 13px;
    font-weight: normal;
    fill: #333;
}

.custom-select {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: dodgerblue;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
}

.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0,0,0,0.1) transparent;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: dodgerblue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0,0,0,0.1);
}

#sliderHolder, #sliderHolder2 {
    user-select: none;
    height: 625px; /* SETS HEIGHT OF SLIDER AXIS */
/*   left: 722px; 
    margin-top: 125px;
    position: absolute; */
}

.d3-slider-vertical {
    width: .8em;
}

.d3-slider {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
}

#data {
    font-size: 12px;
    /* position: absolute; */
    top: 360px; /* 370px; */
    /* left: 66px; */
}

table {
    text-align: right;
    border-collapse: collapse;
    margin: auto;
}

/* Add css for table cell overriding DOF css */
td {
    padding: 0;
    border: 0;
}

.above {
    border-top: 1px solid black;
}

.ageLimitTxt {
    padding-right: 16px;
    text-align: left;
    /* border-right: 8px solid white; */
}

/*#area {
    font-family: Arial, Helvetica, sans-serif;
}*/

/*td {
    padding-top: 7px;
    padding-bottom: 5px;
} */

.d3-slider-axis-right {
    left: 1em;
    pointer-events: none;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;
}

.d3-slider-axis path{
    display: none;
}

.d3-slider-axis text {
    font: 12px Arial, sans-serif;

}

#sliderHolder a {
   position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    /* background: linear-gradient(to bottom, #eee 0%, #ddd 100%); */
    background: linear-gradient(to bottom, #95bfe1 0%, #4993b5 100%);
    z-index: 3;
}

#sliderHolder2 a {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid black;
    border-radius: 4px;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%); 
    /* background: none; */
    z-index: 3;
}    

.d3-slider-handle:hover {
    border: 1px solid #888;
}

.d3-slider-vertical .d3-slider-handle {
    /* left: -.25em; */
    margin-left: 0;
    margin-bottom: -.6em;      
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.box {
    margin-top: 0;
    float: left;
    margin-right: 5px;
    padding-top: 2px; 
}

.td1, .td2 {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 14px;
}

#age_tbl {
    /* background-color: rgb(123, 176, 218); */
    background-color: rgb(135,184,206);
    box-shadow: 5px 5px 2.5px grey;
}

/* .hoverBirthYear {
    pointer-events: none;
    font-size: 11px;
    font-weight: bold;
} */

.instrc {
    /* font-size: 12px; */
    font-size: .7rem;
    text-align: center;
}

#altQ {
    text-align: center;
    padding-bottom: 15px;
}

.frames {
    background-color: white; 
    /*background-color:rgb(123, 176, 218); */
    height: 220px; 
    width: 95%; 
    margin-left:5px;
    box-shadow: 5px 5px 2.5px grey;
    border-radius: 5px;
}

.line2019 {
    stroke: black;
    stroke-width: 1;
    fill: none;
    stroke-dasharray: 2;
}

.popupOvly {
  display: none; /* Initially hidden */
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other content */
}

.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
